.welcome-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .icon-button {
    width: 200px; /* 이미지의 너비 */
    height: 200px; /* 이미지의 높이 */
    margin: 100px; /* 아이콘 간격 */
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* 크기 변화에 부드러운 효과를 주기 위한 transition 속성 추가 */
  }
  
  .icon-button:hover {
    transform: scale(1.1); /* 마우스를 올렸을 때 크기를 1.1배로 확대하는 효과 */
  }
  