button {
    background-color: #666666; 
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #555555; 
}

.owner {
    text-align: center;
    margin-top: 20px;
  }
  
  .address-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    margin-bottom: 10px;
  }
  
  /* Optional: 스타일을 추가하여 입력값이 포커스를 받을 때 변화를 주기 */
  .address-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none; /* 포커스 효과를 중복해서 보이지 않게 함 */
  }
  