.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.default {
  background-image: url('./Images/seaside.jpg');
  background-size: cover; /* 배경 이미지를 컨테이너에 맞게 확대/축소 */
  background-position: center; /* 배경 이미지를 가운데 정렬 */
  min-height: 100vh; /* 최소 화면 높이를 100vh로 설정하여 화면 전체를 차지하도록 함 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
